*{
    margin: 0;
    padding: 0;
}
.cajaImagen{
    font-size: 10px;
    
    width: 28em;
    height: 46em;
    background-image: url(../img/fondo.png);
    box-sizing: border-box;
    padding: 1.5em;
    position: relative;

    
    margin: auto;
    margin-top: 15em;
}
.cajaBorde{
    width: 25em;
    height: 43em;
    margin: auto;
    box-sizing: border-box;
    border: 0.2em solid white;
    border-radius: 0.8em;
}
.cajaTexto{
    width: 25em;
    height: 5em;
    position: absolute;
    top: 20em;
}
h1{
    text-align: center;
    color: white;
    font-size: 4em;
    
    font-family: 'Teko', sans-serif;
    font-weight: normal;
}